ul.cards-list {
    grid-column: 2 / 3;
    background-color: red;

    display: grid;
    grid-template-columns: auto;
  
}

.card-list-item {
    list-style: none;
}

.card-link {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    text-decoration: none;
}

.card-title {
    font-size: var(--font-size-medium);
    line-height: var(--heading-line-height);
}

.card-article {

}

.card-footer {
    display: flex;
    background-color: yellow;
    justify-content: space-between;
}

.card-subject {

}

.card-dateStamp {

}