ul.cards-list {
    grid-column: 2 / 3;
    /* background-color: red; */

    display: grid;
    grid-template-columns: auto;
    gap: 4rem;
  
}

.card-list-item {
    list-style: none;
}

.card-link {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    text-decoration: none;
    color: var(--grey-800);
}

.card-dateStamp {
    font-size: var(--font-size-small);
    align-self: flex-end;
    margin-bottom: var(--margin-small);
    color: var(--grey-700);
}

.card-title {
    font-size: var(--font-size-medium);
    line-height: var(--heading-line-height);
    font-weight: 600;
    margin-bottom: var(--margin-small);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-article {
    font-size: var(--font-size-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: var(--margin-medium);
}

.card-subject {
    font-size: var(--font-size-small);
    /* background-color: tomato; */
    padding: var(--padding-xsmall) var(--padding-medium);
    border-radius: var(--border-radius-medium);
    outline: 0.25px solid var(--grey-700);
    width: min-content;
    color: var(--grey-700);
}