.footer {
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: var(--spacegrey-100);
    padding: var(--padding-large); 
    margin-top: var(--margin-large);
    border-radius: var(--border-radius-small);
}