.main-heading {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    margin: var(--margin-medium) 0;
}

.page-heading {
    font-size: var(--font-size-xxlarge);
}