.header-container {
    grid-column: 2 / 3;
    height: auto;
    width: 100%;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav {
    width: 100%;
    display: none;
}

.header-nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.header-nav-list-item {
    font-size: var(--link-font-size);
}

.header-nav-list-item a {
    text-decoration: none;
    color: inherit;
}