.header-container {
    height: auto;
    width: 100%;
    background-color: #f8f9fa;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 540px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

