.subject-list {
    grid-column: 2 / 3; 
    grid-row: 3 / 4;
    display: flex;
    text-overflow: hidden;
    overflow-x: auto;
    gap: 2.4rem;
    margin: var(--spacing-medium) 0 var(--spacing-xlarge) 0;
}

.subject-list::-webkit-scrollbar {
    display: none;
}

.subject-list-item {
    list-style: none;
    cursor: pointer;
    background-color: var(--accent-color);
    padding: var(--padding-medium) var(--padding-large);
    border-radius: var(--border-radius-large);
    font-size: var(--font-size-small);
}