@media screen and (min-width: 480px) {
   
    .header-container .header-nav {
        display: block;
    }
    .header-nav-list {
        display: block;
    }
    .header-nav-list-item {
        display: block;
    }
    .menu-container {
        display: none;
    }
}