@media screen and (max-width: 479px) {
    
.email-label {

   
}
    .copyright {
        margin-top: var(--margin-large);
    }
}

@media screen and (min-width: 480px) {
   
    .header-container .header-nav {
        display: block;
    }
    .header-nav-list {
        display: block;
    }
    .header-nav-list-item {
        display: block;
    }
    .menu-container {
        display: none;
    }
    .email-label {
        align-self: start;
    }
    .copyright {
        order: 1;
    }
    .subscribe-form {
        order: 2;
        width: min(400px, 100%);
        margin-bottom: 0;
    }
    .footer {
        display: grid;
       grid-template-columns: repeat(2, 1fr);
       align-items: center;
        gap: var(--gap-medium);
    }
}