:root {
    font-size: 62.5%;

    /* Variables */
    --default-text-color: #343a40;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: var(--default-text-color);
}

body {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
}

img {
    width: 100%;
    line-height: 0;
    display: block;
}

.email-input, ::placeholder, .submit-button {
    font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}


/* .wrapper-constraint class added to wrappers of each section to constrain the max-width, this will be replaced with auto for the central column when creating the main grid layout */
.wrapper-constraint {
    max-width: 736px;
    /* background-color: tomato; */
    margin: 0 auto;
}
