/* IMPORTS */
@import './mediaQueries.css';
@import '../../components/Header/Header.css';
@import '../../components/Logo/Logo.css';
@import '../../components/SubscribeForm/SubscribeForm.css';
@import '../../components/Menu/Menu.css';
@import '../../components/Link/Link.css';
@import '../../components/Heading/Heading.css';
@import '../../components/Subject/Subject.css';
@import '../../components/Card/Card.css';

/* GENERAL */
:root {
    font-size: 62.5%;

    /* VARIABLES */

    /* COLORS */
    --grey-800: #343a40;
    --accent-color-hue: 61;
    --accent-color-saturation: 100%;
    --accent-color-lightness: 80%;
    --accent-color-lightness-hover: 70%;

    --accent-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), var(--accent-color-lightness));

    --accent-color-hover: hsl(var(--accent-color-hue), var(--accent-color-saturation), var(--accent-color-lightness-hover));

    /* FONT SIZES */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;

    /* BORDER RADIUS */
    --border-radius-small: 4px;
    --border-radius-medium: 16px;
    --border-radius-large: 24px;

    /* SPACING */
    --padding-xsmall: 0.4rem ;
    --padding-small: 0.8rem ;
    --padding-medium: 1.6rem;
    --padding-large: 2.4rem;

    --spacing-medium: 2.4rem;
    --spacing-large: 3.2rem;
    --spacing-xlarge: 4rem;

    --heading-line-height: 1.3;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: var(--grey-800);
}

body {
    width: 100%;
    height: 100%;
    padding: 2.4rem;
}

img {
    width: 100%;
    line-height: 0;
    display: block;
}

/* BODY CONTAINER */
.body-container {
    width: 100%;    
    /* background-color: dodgerblue; */
    display: grid;
    grid-template-columns: auto minmax(auto, 736px) auto;
    grid-template-rows: auto auto auto 1fr auto;
}

/* INTRO SECTION */
.intro-section {
    grid-column: 2 / 3;
    display: flex;
}

/* SUBJECT LIST */
.subject-list {

}

/* FOOTER */
.email-input, ::placeholder, .submit-button {
    font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
